body{
    margin:0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container{
    display: flex;
    width: auto;

}
.logo{
    margin-left: 20px;
}

.nvsname{
    font-size: 2rem;
    font-weight: bold;
    color: navy;
    padding-left: 40px;
    margin-top: 20px;
}

@media(max-width:700px){
    .tiranga{
        display: none;
    }
}
.tiranga{
    padding-left: 80px;
    margin-left: 100px;
}

/*navbar*/
.navbar{
    width: 100%;
    display: flex;
    text-decoration: none;
}

@media(max-width:700px){
    .navbar{
        display: none;
    }
}
li{  
width: 100%;
height: 25px;
}

.contents{
    list-style-type:none;
    background-color: rgb(33, 4, 112);
    color: white;
    height: 25px;
    cursor: pointer;
    font-size: 0.79rem;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.contents:hover{
background-color: rgb(68, 160, 62);
transition: 300ms;
}

.list-items{
    text-align: center;
}

/*footer*/
.footer{
    width: 100%;
    background-color:rgb(33, 4, 112) ;
    width: 100%;
    height:auto;
    color: white;
}

.image{
    width: 20px;     
}

.call{
    font-weight: bold;
    width: auto;
    padding-left:12px;
    padding-top: 10px;
    height: auto;
    padding-top: 50px;
    text-align: center;  
}

.number{
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-bottom: 15px; 
    text-align: center;  
}

.write{
    font-weight: bold;
    width: auto;
    padding-left: 12px;
    text-align: center;
}

.email{
    padding-left: 12px;
    text-align: center;
}

.follow{
    font-weight: bold;
    padding-left: 14px;
    margin-top: 40px; 
    margin-bottom: 20px; 
    text-align: center; 
}

.follow-icon{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px; 
}

.image{
    width: 20px;     
}

.image:hover{
    background-color: rgb(68, 160, 62);
    border-radius: 4px;
}

.social-icon{
    padding: 1px;
    height: 2;  
}

.icons{
    text-align: center;
}

.copyright{
    margin-top: 40px;
    text-align: center;
}

.rights{
    text-align: center;
}

/*top Nav for mobile*/

@media(min-width:700px){
.topnav{
    display: none;
}
}
.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: white;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(33, 4, 112);
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(4, 139, 180);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    
  }
  
  .topnav a:hover {
    background-color:rgb(7, 137, 155);
    color: white;
  }
  
  .active {
    background-color: rgb(33, 4, 112);
    color: white;
  }